<main class="container">
<form class="form column text-center logInForm" id="">
            <strong class="text-lime-500 is-size-5">Log In</strong>
             <!-- // Name Input -->
            <div class="field">
              <label class="label  my-4">Email</label>
              <div>
                <input class="input" type="email" placeholder="Email " id="loginEmail">
              </div>
              <div class="field">
                <label class="label  my-4">Password</label>
                  <input class="input" type="password" placeholder="Password" id="loginPass">
              </div>
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-success" id="loginBtn">Submit</button>
                </div>
                <div class="control">
                  <button class="button is-link is-danger">Cancel</button>
                </div>
              </div>
            </div> 
           </form>
</main>

