 <main class="container">
  <<section class="columns">
           <form class="form column text-center signUpForm" id="logIn-page">
            <strong class="is-size-5">Sign Up</strong>
             <!-- // Name Input -->
             <div class="field">
              <label class="label my-4">Name</label>
              <div>
                <input class="input" type="text" placeholder="Name" id="nameLogin">
              </div>
            </div> 
            <div class="field">
              <label class="label  my-4">Email</label>
              <div>
                <input class="input" type="email" placeholder="Email " id="signUpEmail">
              </div>
              <div class="field">
                <label class="label  my-4">Password</label>
                  <input class="input" type="password" placeholder="Password" id="signUpPass">
              </div>
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-success" id="signUpBtn">Submit</button>
                </div>
                <div class="control">
                  <button class="button is-link is-danger">Cancel</button>
                </div>
              </div>
            </div> 
           </form>

</main>